#board {
    pointer-events: none;
    position: relative;
    width: 630px;
    height: 540px;
    display: flex;
    flex-wrap: wrap;
    border: 10px solid navy;
    margin: 0 auto;
    background-color: blue;
}

.piece {
    height: 70px;
    width: 70px;
    margin: 5px;
    background-color: white;
    border-radius: 50%;
    border: 5px solid navy;
    cursor: pointer;
    pointer-events: all;
}

#message {
    text-align: center;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
    font-weight: 600;
    margin-left: 40%;
    margin-right: 40%;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
}
